# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [113]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql import functions as F
from pyspark.sql.functions import *
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
sqlContext = SQLContext(spark)
sqlContext.setConf("spark.sql.autoBroadcastJoinThreshold", "0")

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

The aim of this project is to gather data from various sources and create fact and dimension tables which gives information about immigration in United States.
As end result fact table will give information about immigration per city in united state. Spark was chosen as tool to do this anaylsis.

#### Describe and Gather Data 
##### 1. I94 Immigration Data
This data comes from the US National Tourism and Trade Office. This data consists of information like origin country, destination city, year and month of departure, type of visa.

##### 2. World Temperature Data
This dataset came from Kaggle. This data consists of information about date, temperature, city, country, longitude and latitude

##### 3. U.S. City Demographic Data
This data comes from OpenSoft.It consists of demographic information about population, us cities and states.

##### 4. I94CIT
This csv file consists of information about valid codes of countries.

##### 5. I94PORT_CODES
This csv consists of information about airport codes and city.

In [114]:
# Read in the data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df_immigration = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [89]:
df_immigration.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [84]:
df_immigration.describe(["i94yr"]).show()

+-------+--------------------+
|summary|               i94yr|
+-------+--------------------+
|  count|             3096313|
|   mean|              2016.0|
| stddev|4.282829613261096...|
|    min|              2016.0|
|    max|              2016.0|
+-------+--------------------+

In [4]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df_temp = pd.read_csv(fname)

In [5]:
df_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E

In [83]:
df_temp = df_temp.withColumn("year",year(df_temp["dt"]))
df_temp.describe(["year"]).show()

+-------+------------------+
|summary|              year|
+-------+------------------+
|  count|           8599212|
|   mean|1907.3451412757354|
| stddev| 65.59948928964944|
|    min|              1743|
|    max|              2013|
+-------+------------------+

In [115]:
# Read valid i94cit codes from csv and create temporary view i94cit_valid
fname = 'I94CIT.csv'
df_i94cit_valid = spark.read.csv(fname,sep=";",header = True)
df_i94cit_valid.createOrReplaceTempView("i94cit_valid")

# Read valid i94port codes from csv and create temporary view i94port_valid
fname = 'I94PORT_CODE.csv'
df_i94port_valid = spark.read.csv(fname,sep="\t",header = True)
df_i94port_valid.createOrReplaceTempView("i94port_valid")

# Read immigration data and create temporary view immigration_data
df_immigration =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
df_immigration.createOrReplaceTempView("immigration_data")

# Read us demographic data and create temporary view us_city_demo
fname = 'us-cities-demographics.csv'
df_us_city_demo = spark.read.csv(fname,sep=";",header = True)

# Read GlobalLandTemperaturesByCity and create temporary view tempreture_data
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df_temp = spark.read.csv(fname,header = True)

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data
##### 1. Immigration Data - 
###### Findings : 
-  There might be invalid country codes(I94CIT) or port codes (I94PORT) in immigration data.
-  Since only specific columns were considered for further analysis, duplicates were idenified.

###### Resolution : 
- The invalid codes were removed by joining immigration data with valid I94_CODE and I94CIT.
- The duplicates were dropped.

##### 2. Temperature Data -
###### Findings : 
- There are some records where AverageTemperture column contains null values. 

###### Resolution : 
- These null values in AverageTemperture column were filtered out.
- Also filter was applied on Country column as United States and Year as 2013.

###### Assumption
- The temperture data is from year 1743 to 2013. And immigration data is for year 2016. So filter was applied to temperture data for year 2013(most recent temperature) and assuption was made that average temperature for year 2016 will be same as 2013.

In [116]:
# Creating temporary view for US City Info which consists of information about US State, US State Code and US City
df_city = df_us_city_demo.select(col("state code").alias("us_state_code"),col("state").alias("us_state"),col("city").alias("us_city")).dropDuplicates()

In [117]:
# Joining immigration data with I94CIT and 94PORT_CODES to filter out invalid data

Immigration_table = spark.sql("""
    SELECT distinct 
           im.cicid as cicid
          ,im.i94yr as year
          ,im.i94mon as month
          ,cit.i94res as origin_country
          ,im.i94Port as destination_airport_code
          ,Case 
            when port.I94Port like '%,%' then Substring(port.I94Port,1, Position(',' in port.I94Port )-1 ) 
            else port.I94Port 
            end as destination_us_city
    FROM immigration_data im
      inner join i94cit_valid cit
       on im.i94cit = cit.i94cit
      inner join i94port_valid port
       on im.i94port = port.i94port_code
      """)

df_Immigration_table = df_Immigration_table.select("cicid",col("year").cast("integer"),col("month").cast("integer"),"origin_country","destination_airport_code","destination_us_city")

In [118]:
# Filtering AverageTemperature column having null values
df_temp_cleanse = df_temp.filter(df_temp.AverageTemperature != 'NaN') 

# Retrieving only US tempreture data
df_temp_us= df_temp_cleanse.filter(df_temp_cleanse.Country == "United States")\
.filter(year(df_temp_cleanse["dt"]) ==2013)\
.withColumn("month", month(df_temp_cleanse["dt"]))\
.withColumn("year", year(df_temp_cleanse["dt"]))

# selecting specific columns from tempreture dataframe
df_temperature_city = df_temp_us.select(col("year").cast("integer"),col("month").cast("integer"),round('AverageTemperature', 2).alias('AverageTemperature'),col("city").alias("temp_city"),"country").dropDuplicates()

In [120]:
# Columns like percent_Male_Population, percent_Female_Population, percent_veterans, percent_foreigners, percent_race derived with the help of existsing columns in dataframe

us_demographic_info = df_us_city_demo\
.withColumn("percent_Male_Population",round(df_us_city_demo["Male Population"]/df_us_city_demo["Total Population"]*100,2))\
.withColumn("percent_Female_Population",round(df_us_city_demo["Female Population"]/df_us_city_demo["Total Population"]*100,2))\
.withColumn("percent_veterans",round(df_us_city_demo["Number of Veterans"]/df_us_city_demo["Total Population"]*100,2))\
.withColumn("percent_foreigners",round(df_us_city_demo["Foreign-born"]/df_us_city_demo["Total Population"]*100,2))\
.withColumn("percent_race",round(df_us_city_demo["count"]/df_us_city_demo["Total Population"]*100,2))\
.withColumn("Median_Age",col("Median Age").cast("float"))

# Unnecessary columns were removed
us_demographic_info = us_demographic_info.select("city","Median_Age","percent_Male_Population","percent_Female_Population","percent_veterans","percent_foreigners","percent_race","Race")

In [121]:
# Pivote table based on Race column
pivot_demographic_info = us_demographic_info.groupBy("City","median_age","percent_Male_Population",\
                                    "percent_Female_Population","percent_veterans",\
                                    "percent_foreigners").pivot("Race").avg("percent_race")

# Renaming columns in pivoted dataframe
pivot_demographic_info = pivot_demographic_info.select("City","median_age","percent_Male_Population",\
                                                       "percent_Female_Population","percent_veterans",\
                                                       "percent_foreigners",\
                                                       col("American Indian and Alaska Native").alias("natives"),\
                                                       col("Asian"),col("Black or African-American").alias("Black"),\
                                                       col("Hispanic or Latino").alias("hispanic_or_latino"),\
                                                       "White")

df_demographic_info = pivot_demographic_info.dropDuplicates()

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model

- From source data following 4 dimension tables are created. 

    1. Dim_Temperature   -  This table consists of Temperature information of US city
    2. Dim_Immigration - This table gives information about country of origin, year and month of immigration, destination US city.
    3. Dim_Demograhy - This table gives statistic information like percentage of female and male population, percentage of foreign born.
    4. Dim_City This table consists of US City, State, State Code information.


- Fact table is created by joining dimension tables.

   - Fact_Immigration - 
   
       This table gives information about immigration in US. It consists of information about year of immigration, origin country of immigration, destination city, destination state, temperature of destination city, population information and number of people immigrated from each origin country to US City each month of the year.


- Star schema is chosen because of its simplicity and it is understandable for business people.  


#### 3.2 Mapping Out Data Pipelines
   1. Data is gathered from various source files.
   2. Data cleansing steps are performed.
   3. Dimension tables from source data are created.
   4. Fact table is created by joining dimension tables.
   5. Data in fact table is written into Parquet file.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [122]:
# Creating temporary views for dimension tables

# Dim_Temperature
df_temperature_city.createOrReplaceTempView("Dim_Temperature")

# Dim_Immigration
df_Immigration_table.createOrReplaceTempView("Dim_Immigration")

# Dim_Demograhy
df_demographic_info.createOrReplaceTempView("Dim_Demograhy")

# Dim_City
df_city.createOrReplaceTempView("Dim_City")

In [123]:
# Creation of Fact Tables by joining dimension tables

df_ft_immigration = spark.sql("""
select
              di.year as year_of_immigration
             ,di.month as month_of_immigration
             ,di.origin_country
             ,dc.us_state as destination_state
             ,di.destination_us_city as destination_city
             ,dt.AverageTemperature as Avg_temp_city
             ,dd.percent_foreigners
             ,dd.natives
             ,dd.Asian
             ,dd.Black
             ,dd.hispanic_or_latino
             ,dd.White
             ,count(di.destination_us_city) as count_immi_per_city
 from 
                 Dim_Immigration di
      inner join Dim_Temperature dt 
              on lower(di.destination_us_city) = lower(dt.temp_city) and
                 di.month = dt.month
      inner join Dim_Demograhy dd
              on lower(di.destination_us_city) = lower(dd.city)
      inner join Dim_City dc
              on lower(di.destination_us_city) = lower(dc.us_city)
        group by
              di.year
             ,di.month 
             ,di.origin_country
             ,dc.us_state
             ,di.destination_us_city
             ,dt.AverageTemperature
             ,dd.percent_foreigners
             ,dd.natives
             ,dd.Asian
             ,dd.Black
             ,dd.hispanic_or_latino
             ,dd.White
""")

In [124]:
# Fact_Immigration  
df_ft_immigration.createOrReplaceTempView("Fact_Immigration")

In [130]:
# Write data from fact table into parquet file
df_ft_immigration.write.mode("append").partitionBy("year_of_immigration").parquet("output/Fact_Immigration")

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [126]:
# Perform quality checks here

# Below function checks if source or target dataframes has data
def check_rows(df, info_of_dataframe):
    '''
    Input: Spark dataframe, information aout spark dataframe
    Output: Print outcome of data quality check
    '''
    
    check_data = df.count()
    if check_data == 0:
        print("Quality check failed for {}.".format(info_of_dataframe))
    else:
        print("Quality check passed for {}".format(info_of_dataframe, check_data))
    return 0

In [127]:
# Source Data quality check
check_rows(df_temp, "Source : Temperature Data")
check_rows(df_us_city_demo, "Source : Demographic information Data")
check_rows(Immigration_table, "Source : Immigration Data")
check_rows(df_i94port_valid, "Source : i94port_valid data")
check_rows(df_i94cit_valid, "Source : i94cit_valid data")

Quality check passed for Source : Temperature Data
Quality check passed for Source : Demographic information Data
Quality check passed for Source : Immigration Data
Quality check passed for Source : i94port_valid data
Quality check passed for Source : i94cit_valid data

0

In [128]:
# Target Dtaa Quality Check
check_rows(df_temperature_city, "Target : Dim_Temperature")
check_rows(df_city, "Target : Dim_City")
check_rows(df_Immigration_table, "Target : Dim_Immigration")
check_rows(df_demographic_info, "Target : Dim_Demography")
check_rows(df_ft_immigration, "Target : Fact_Immigration")

Quality check passed for Target : Dim_Temperature
Quality check passed for Target : Dim_City
Quality check passed for Target : Dim_Immigration
Quality check passed for Target : Dim_Demography
Quality check passed for Target : Fact_Immigration

0

#### 4.3 Data dictionary 
### Data Dictionary of Facts and dimension tables

#### Temperature information per City - Dim_Temperature

- year: integer (nullable = true) - Temperature Year
- month: integer (nullable = true) - Temperture Month
- AverageTemperature: double (nullable = true) - Average Temperature per city
- temp_city: string (nullable = true) - Name of City
- country: string (nullable = true) - Name of Country (Only United States)


#### Immigration information per City - Dim_Immigration
- cicid: double (nullable = true) - ID of person who was immigrated
- year: integer (nullable = true) - Year of immigration
- month: integer (nullable = true) -  Month of immigration
- origin_country: string (nullable = true) - Country of origin
- destination_port_code: string (nullable = true) -  String - 3 character port code of Destination
- destination_us_city: string (nullable = true) - Name of destination city


#### Demograpic information per City - Dim_Demograhy
- City: string (nullable = true) - Name of US City
- median_age: float (nullable = true) - Median Age per city
- percent_Male_Population: double (nullable = true) - Percentage of Male population in total population
- percent_Female_Population: double (nullable = true) - Percentage of Female population in total population
- percent_veterans: double (nullable = true) - Percentage of veterans population in total population
- percent_foreigners: double (nullable = true) - Percentage of foreigners population in total population
- natives: double (nullable = true) - Percentage of Native Americans in total population
- Asian: double (nullable = true) - Percentage of Asians in total population
- Black: double (nullable = true) -Percentage of Black population in total population
- hispanic_or_latino: double (nullable = true) - Percentage of hispanic or latino population in total population
- White: double (nullable = true) - Percentage of white population in total population


#### Demograpic information per City - Dim_City
- us_state_code: string (nullable = true) - 2 Character code for each state in US
- us_state: string (nullable = true) - Name of State in US
- us_city: string (nullable = true) - Name of City in US


#### Information about Immigration trend per City - Fact_Immigration
- year_of_immigration: integer (nullable = true) - Year from dimension table Dim_Immigration
- month_of_immigration: integer (nullable = true) - Month from dimension table Dim_Immigration
- origin_country: string (nullable = true) -Country of origin from dimension table Dim_Immigration
- destination_state: string (nullable = true) -US State from dimension table Dim_City
- destination_city: string (nullable = true) - US City from dimension table Dim_Immigration
- Avg_temp_city: double (nullable = true) - Average temperature per city from dimension table Dim_Temperature
- percent_foreigners: double (nullable = true) - Percentage of foreigners in total population Dim_Demograhy
- natives: double (nullable = true) - Percentage of native amreicans in total population Dim_Demograhy
- Asian: double (nullable = true) - Percentage of Asians in total population Dim_Demograhy
- Black: double (nullable = true) - Percentage of Black in total population Dim_Demograhy
- hispanic_or_latino: double (nullable = true) - Percentage of hispanic or latino in total population Dim_Demograhy
- White: double (nullable = true) - Percentage of white in total population Dim_Demograhy
- count_immi_per_city: long (nullable = false) -Count of immigration per city per month and year from origin country

#### Step 5: Complete Project Write Up
* ##### Clearly state the rationale for the choice of tools and technologies for the project.
  1. Spark can handle multiple file formats with large amount of data.
  2. It is possible to extract data from multiple files into dataframes with the help of Spark.
  3. With pyspark, data can be transformed into one or more tables as desired.

* ##### Propose how often the data should be updated and why.
  - Data should be updated monthly. The fact table gives information about immigration trend per city for each month. So It is necessary to update data on monthly basis.

* ##### Write a description of how you would approach the problem differently under the following scenarios:
 * ##### The data was increased by 100x.
    - Below reasons makes Redshift as good fit.
       1. Redshift has Massively Parallel Processing (MPP) which allows to load data at fast speed.
       2. High performance
       3. Scalibilty
 * ##### The data populates a dashboard that must be updated on a daily basis by 7am every day.
   - To update data on a daily basis at particular time, Airflow can be used.
 * ##### The database needed to be accessed by 100+ people.
   - Redshift can be used since it has good read performance.